<mat-card class="add-update-movie-card">
  <mat-card-header>
    <mat-card-title>
      {{ isEditMode ? 'Update Movie/Series' : 'Add New Movie/Series' }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="movieForm" (ngSubmit)="submitMovie()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Movie Title</mat-label>
        <input matInput type="text" formControlName="title" required />
        <mat-error *ngIf="movieForm.get('title')?.hasError('required')">
          Title is required.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genre" required>
          <mat-option *ngFor="let genre of availableGenres" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="movieForm.get('genre')?.hasError('required')">
          Genre is required.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Details</mat-label>
        <textarea matInput formControlName="details"></textarea>
      </mat-form-field>
      
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="movieForm.invalid">
          {{ isEditMode ? 'Update' : 'Add' }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
